<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/styles.css">
		<title>Управление задачами</title>
	</head>
	<body>
		<div id="root">
		<div>
			<h1>Список задач</h1>
			<form action="/add-task" method="post" enctype="multipart/form-data">
				<input type="text" name="title" placeholder="Название задачи" required>
				<select name="status">
					<option value="pending">В ожидании</option>
					<option value="completed">Завершено</option>
				</select>
				<input type="date" name="dueDate" required>
				<input type="file" name="file">
				<button type="submit">Добавить задачу</button>
			</form>
			<h2>Фильтровать задачи</h2>
			<form action="/filter-tasks" method="post">
				<select name="filterStatus">
					<option value="all">Все</option>
					<option value="pending">В ожидании</option>
					<option value="completed">Завершено</option>
				</select>
				<button type="submit">Фильтровать</button>
			</form>
			<ul>
				<% tasks.forEach(task => { %>
				<li>
					<strong><%= task.title %></strong> - <%= task.status %> - Дата завершения: <%= task.dueDate %>
					<% if (task.file) { %>
					<br>Прикрепленный файл: <%= task.file %>
					<% } %>
				</li>
				<% }); %>
			</ul>
		</div>
		</div>
	</body>
</html>