body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

body {
	display: flex;
	height: 100vh;
	margin: 0;
	position: relative;
	overflow: hidden;
}

body::before {
	content: "";
	position: absolute;
	top: -10px;
	left: -10px;
	width: 110%;
	height: 110%;
	background-image: url('https://cdn.wallpaperhub.app/cloudcache/b/d/7/6/4/b/bd764bb25d49a05105060185774ba14cd2c846f7.jpg');
	background-size: cover;
	background-position: center;
	filter: blur(5px);
}

body::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 0;
}

form {
	z-index: 1;
    padding-top: 150px;
}

button {
	display: inline-block;
	padding: 7px 18px;
	border-radius: 3px;
	border-color: transparent;
	text-decoration: none;
	text-transform: uppercase;
	background: rgba(54,125,36,0.5);
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
	font-size: 14px !important;
	transition: .2s !important;
}

button:hover {
	background: rgba(36,125,53,0.9);
	color: #ffffff;
	text-shadow: none;
}

button * {
	margin: 0 !important;
	color: #247d2e;
}

input[type="file"], button {
    margin-top: 20px;
}